body {
    margin-top: 2em;
}

.hidden {
	display: none;
}

.board {
	font-weight: bold;
	font-size: 18px;
}

button:disabled {
    text-decoration: line-through;
	cursor: not-allowed;
	transition: none;
}

button:disabled:hover {
	text-decoration: line-through;
}

button:disabled::after {
    content: "\2713"; /* checkmark */
}

button.notAllowed:disabled::after {
    content: "\2573" !important; /* cross */
}

.main-col {
    min-width: 500px;
}

.card {
    background-position: center;
    background-size: cover;
	min-height: 800px;
	border-radius: 0;
	border: none;
}

.buttons-wrapper {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: column;
	background-color: rgba(0,0,0,0.75);
}

.buttons-wrapper .btn {
	margin-top: 10px;
	transition: 0.3s;
}

.buttons-wrapper .btn:not(:disabled):hover {
	background-position: right center;
}

.card-header {
    background: rgba(255, 255, 255, 0.75);
    color: #696969;
}

.card-header nav a {
    font-weight: 800;
    text-shadow: 2px 2px 8px #fff;
}

#content h5.card-title {
    font-size: 2rem !important;
    font-weight: bold;
    text-shadow: 2px 2px 8px #393838;
}
#content p.card-text{
    font-size: 1.5rem !important;
    font-weight: bold;
    text-shadow: 2px 2px 8px #393838;
}

.team-card {
	width: 50%;
	margin: 0 auto;
    color:black;
}

.team-card .card {
	min-height: auto;
	margin-bottom: 25px;
}

.btn-outline-secondary {
	color: #fff !important;
	border-color: #fff !important;
}