body {
    margin-top: 2em;
}

button:disabled {
    text-decoration: line-through;
    cursor: not-allowed;
}

button:disabled::after {
    content: "\2713 ";
}

div.card {
    background-position: center;
    min-height: 600px;
}